.container{
    display: grid;
    grid-template-columns: repeat(4vh,2) repeat(21vh,4);
    grid-template-rows: 4vh,30vh;
}
.headline{
    font-family: Arial, Helvetica, sans-serif;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.button{
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: 0px;

}
.menu{
    position: relative;
    display: inline;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.e{
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
}
.options{
        display: none;
        position: absolute;
        background-color: transparent;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
}
.options a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: rgb(255, 255, 255);
    display: block;

}
.options a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.menu:hover .options {display: block;}

.menu:hover .button {
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.social{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    position: absolute;
    right: 0px;
}
.social:hover .options {display: block;}

.social:hover .button {
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.text{
    text-align: center;
}
.link{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    padding-left: 75px;
    
}
.items{
    width: 500px;
    padding-right: 100px;
}

.item1{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.item2{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 60%;
    display: flex;
    flex-direction: column;
}